ad6/conf/firewall/firewall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://config" 
	targetNamespace="http://config"
	elementFormDefault="qualified">


	<xs:include schemaLocation="table.xsd"/>


	<xs:complexType name="firewall-type">
		<xs:sequence>
			<xs:element ref="table" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="key" type="xs:string" use="required"/>
	</xs:complexType>


	<xs:element name="firewall" type="firewall-type">
		<xs:key name="firewall-key">
			<xs:selector xpath="firewall"/>
			<xs:field xpath="@key"/>
		</xs:key>
	</xs:element>
</xs:schema>
