ad6/conf/network/network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://config" 
	targetNamespace="http://config"
	elementFormDefault="qualified">


	<xs:include schemaLocation="node.xsd" />


	<xs:complexType name="network-type">
		<xs:sequence>
			<xs:element ref="node" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>


	<xs:element name="network" type="network-type"/>
</xs:schema>
